@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
#image{
    position: relative;
    width: 100%;
    height: 68vh;
    background:url(photo1.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.header
{
    background: black;
    text-align: left;
    padding: 7px;
    padding-left: 25px;
    color: white;
    font-weight: lighter;
    font-size: 50px;
   
    
}
#belowHeader{
    height: 6vh;
    background-image: linear-gradient(to right, rgba(22, 8, 8, 0.911), rgb(224, 0, 0));
    
}
section{
    padding: 80px;
    
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(255, 255, 255));
    font-family: 'Barlow Semi Condensed', sans-serif;
}
section p{
   
    font-family: 'Barlow Semi Condensed', sans-serif;
}
section h3{
    font-size: 2.8em;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
   
}
section p{
    margin-left: 400px;
    margin-right: 400px;
    font-size: 1.6em;
    text-align: center;
   /* font-family: 'Open Sans', sans-serif;*/
}
.services{
   padding-left: 130px;
   font-weight:lighter;
   font-family: 'Bebas Neue', cursive;
   font-size: 25px;
   color: white;
   background-image: linear-gradient(to right, rgba(22, 8, 8, 0.911), rgb(224, 0, 0));
  
}
.flex-container{
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
}
.flex-item{
    margin-left: 80px;
    margin-right: 80px;
    font-size: 1.3em;
    padding: 20px;
   padding-bottom: 40px;
    text-align: center;
}
.flex-item h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.flex-item p{
    font-family: 'Open Sans', sans-serif;
}

.img1{
  height: 250px;
  width: 300px;
    background-image: url(Web1.png);
    background-size: cover;
    background-position: center;
    margin-left: 120px;
    margin-bottom: 5px;
    margin-top: 45px;
}
.img2{
    height: 300px;
    width: 300px;
      background-image: url(webDesign.png);
      background-size: cover;
      background-position: center;
      margin-left: 120px;
  }
  .img3{
    height: 300px;
    width: 300px;
      background-image: url(webHost.png);
      background-size: cover;
      background-position: center;
      margin-left: 120px;
  }
  .flex-item h2
  {
    transition: 0.6s ease;
      padding: 15px;
      margin: 20px;
    background: #6d6d6d;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 25px;
}
.flex-item h2:hover{
	background-color:#570000;
	color:#ffffff;
}
.flex-item a
{
 
   text-decoration: none;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 25px;
}
.technology{ 
        padding-left: 130px;
        font-weight:lighter;
        font-family: 'Bebas Neue', cursive;
        font-size: 25px;  
        background-image: linear-gradient(to right, rgba(22, 8, 8, 0.911), rgb(224, 0, 0));
    color: white;
}
.flex-tech{
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.flex-tech-item{
   
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 25px;
}
.image1{
    height: 280px;
    width: 450px;
      background-image: url(htmlcss.jpg);
      background-size: cover;
      background-position: center;
      margin-left: 60px;
}
.image2{
    height: 210px;
    width: 210px;
      background-image: url(js.png);
      background-size: cover;
      background-position: center;
      margin-left: 60px;
      margin-bottom: 50px;
      margin-top: 30px;
}
.image3{
    height: 260px;
    width: 380px;
      background-image: url(django.png);
      background-size: cover;
      background-position: center;
      margin-left: 60px;
      margin-top:20px;
}
.flex-tech-item h2{
   text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
    padding-left: 40px;
}
.footer{
    height: 50px;
    background: black;
    color: white;
    font-style: italic;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 20px;
}